@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.container header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.container header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}

.container header ul {
    display: flex;
    list-style: none;
}

.container header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.container header nav ul li a:hover {
    color: #1CB698;
}

.nav-responsive {
    background-color: #1CB698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.begin {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)), url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.begin .content-banner {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.begin .content-banner img {
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.begin .content-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.begin .content-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.begin .content-banner .socials a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.begin .content-banner .socials a:hover {
    background-color: #1CB698;
}

.aboutme {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.aboutme .content-section {
    max-width: 1100px;
    margin: auto;
}

.aboutme h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.aboutme .content-section p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.aboutme .content-section p {
    color: #1CB698;
    font-weight: bold;
}

.aboutme .row {
    display: flex;
}

.aboutme .row .col {
    width: 50%;
}

.aboutme .row .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.aboutme .row .col ul {
    list-style: none;
}

.aboutme .row .col ul li {
    margin: 12px 0;
}

.aboutme .row .col ul li strong {
    display: inline-block;
    color: #1CB698;
    width: 130px;
}

.aboutme .row .col ul li span {
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.aboutme .row .col .container-interests {
    display: flex;
    flex-wrap: wrap;
}

.aboutme .row .col .container-interests .interest {
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.aboutme .row .col .container-interests .interest:hover {
    background-color: #1CB698;
}

.aboutme .row .col .container-interests .interest i {
    font-size: 30px;
    margin-bottom: 10px;
}

.aboutme button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: auto;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.aboutme button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.aboutme button:hover .overlay {
    width: 100%;
}

.aboutme a {
    color: #fff;
}

.skill .text-white {
    color: #fff;
}

.skills {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.skills .content-section {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.skills .row {
    display: flex;
}

.skills .row .col {
    width: 50%;
    padding: 0 20px;
}

.skills .row .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill>span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: white;
}

.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skills .skill .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }

    100% {
        width: 89%;
    }
}

.portfolio {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.portfolio .content-section {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portfolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .galeria .project {
    position: relative;
    max-width: 340px;
    height: auto;
    margin: 10px;
    cursor: pointer;
}

.portfolio .galeria .project img {
    width: 100%;
    display: block;
}

.portfolio .galeria .project .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28, 182, 152, .8), rgba(28, 182, 152, .8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portfolio .galeria .project .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.portfolio .galeria .project .overlay:hover {
    opacity: 1;
}

.portfolio .galeria .project .overlay:hover h3 {
    margin-bottom: 0px;
}

.contact {
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}

.contact .content-section {
    max-width: 1100px;
    margin: auto;
}

.contact h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contact .row {
    display: flex;
}

.contact .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contact .col input,
.contact .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}

.contact button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: auto;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contact button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.contact button:hover .overlay {
    width: 100%;
}

.contact .col img {
    width: 100%;
}

.contact .col .info {
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact .col .info ul {
    list-style: none;
}

.contact .col .info ul li {
    margin-bottom: 20px;
}

.contact .col .info ul li i {
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}

footer {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .socials {
    margin-bottom: 20px;
}

footer .socials a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .up {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px) {
    .aboutme .row {
        display: block;
    }

    .aboutme .row .col {
        width: auto;
    }

    .skills .row {
        display: block;
    }

    .skills .row .col {
        width: 100%;
    }

    .skills .row .col .barra-skill {
        width: 100%;
    }

    .portfolio .galeria {
        display: block;
        width: 100%;
    }

    .portfolio .galeria .project {
        max-width: 100%;
    }

    .portfolio .galeria .project img {
        width: 100%;
    }

    .contact .row {
        display: block;
    }

    .contact .row .col {
        width: 100%;
    }

    .text-white {
        color: white;
    }
}